*{
margin:0;
padding:0;
box-sizing: border-box;
}

:root{
  --gray-100: #1C1E21;
  --gray-90: #303338;
  --gray-80: #444950;
  --gray-70: #606770;
  --logo-blue: #1877E2;
}

body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-family: 'Patrick Hand', cursive;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feed::-webkit-scrollbar{
  width:5px;
}

.feed::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.feed::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
  
}
.leftbar::-webkit-scrollbar{
  width:5px;
}

.leftbar::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.leftbar::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
  
}

.rightbar::-webkit-scrollbar{
  width:5px;
}

.rightbar::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.rightbar::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
  
}